[role="treeitem"][aria-expanded="false"] ul {
  display: none;
}

ul[role="group"] li {
  @apply ml-2;
}

[role="treeitem"][tabindex="0"] {
  @apply bg-blue-50;
}

:focus {
   outline: 0;
   @apply ring-2;
   @apply ring-blue-400;
   @apply rounded-md;
}

.app {
  height: 100vh;
}

main {
  min-width: 320px;
  max-width: 700px;
  min-height: 600px;
}

main a {
  @apply text-blue-500; 
  @apply underline;
}

.slash-separated > :not(:last-child)::after {
  content: " /"; 
}

main img {
  animation-name: fade-in;
  animation-duration: 400ms;

}

article li {
  @apply list-disc;
  @apply list-inside;
  @apply list-disc;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
